@page "/"
@using XML_Read_object_data_from_an_file_xml.Controllers
@using XML_Read_object_data_from_an_file_xml.Data

<button @onclick="Readxml">Read XML Student</button>
<br />
<button @onclick="ReadClassSchool">Read XML Class School</button> Er is Twee manieren om Enum te lezen.
<br />
<button @onclick="ReadBerichtHeader">Read XML Header</button>
<br />
<button @onclick="ReadInheritance">Read XML inheritance </button>
<br />


@if (student != null)
{
    <div><label>Id: </label>@student.Id</div>
    <div><label>Name: </label>@student.Naam</div>
}


@if (classSchool != null)
{
    <h4>Class School</h4>
    <div><label>Name: </label>@classSchool.Naam</div>
    <br />
    <hr />
    <h4>Studenten</h4>
    @if (classSchool.Students != null)
    {
        @foreach (var huidigeStudent in classSchool.Students)
        {
            <h5>Student</h5>
            <div><label>Id: </label>@huidigeStudent.Id</div>
            <div><label>Name: </label>@huidigeStudent.Naam</div>
            <div><label>Langte: </label>@huidigeStudent.Langte</div>
            <div><label>GD: </label>@huidigeStudent.GD</div>
            <br />
            <hr />

        }

    }
}

@if (bericht != null)
{
    <br />
    <hr />
    if (bericht.Header != null)
    {
        <div>
            Hallo Bericht Code:
            @bericht.Header.BerichtCode;
        </div>
    }
    <br />
    <hr />

}

@if (Baby != null)
{
    <br />
    <hr />
    <div>
        Hallo Baby: @Baby.Naam
    </div>
    <div>
        Soort Melk Drinken: @Baby.SoortMelkDrinken
    </div>
    <br />
    <hr />

}
@code {
    ReadController controller = new ReadController();
    Student student;
    ClassSchool classSchool;
    Bericht bericht;
    Person person;
    Baby Baby;
    private void Readxml()
    {
        student = controller.ReadXml();
    }

    private void ReadClassSchool()
    {
        classSchool = controller.ReadClassSchool();
    }

    private void ReadBerichtHeader()
    {
        bericht = controller.ReadBerichtHeader();
        StateHasChanged();
    }

    private void ReadInheritance()
    {
        person = controller.ReadInheritance();
        if (person is Baby baby)
        {
            this.Baby = baby;
        }
    }

}
